@use "../util" as *;

.header {
    @include breakpoint(medium) {
        // margin-top: rem(25);
        // margin-bottom: rem(47);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
    }

    &__navigation {
    }

    // background-color: whitesmoke;
}

nav {
    overflow: hidden;
    width: 100%;
    font-family: var(--font-proxima);
    font-size: rem(16);
    font-weight: 400;
    color: var(--goldenyellow);

    ul {
    }

    li {
        border-bottom: rem(2) solid var(--goldenyellow);
    }

    a {
        color: var(--goldenyellow);
        text-decoration: none;
        margin-left: rem(50);
        transition: padding-bottom 1s;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 100%;
            width: 0;
            height: 100%;
            border-bottom: 2pxsolid#000;
            transition: 0.2salllinear;
        }
        // &:hover::before {
        //     // border-bottom: rem(2) solid var(--goldenyellow);
        //     // padding-bottom: rem(21);
        //     width: 100%;
        //     left: 0;
        // }

        // &:hover &::before {
        //     left: 0;
        // }
        // &:active {
        //     border-bottom: rem(2) solid var(--goldenyellow);
        //     padding-bottom: rem(21);
        // }
    }
}
