@use "../util" as *;

.landing {
    background-color: whitesmoke;

    img {
        width: 352px;
        height: auto;
        transform: translateX(-5.5px);
        position: absolute;
    }

    &__circle-bg {
        width: 340px;
        height: 340px;
        background-color: var(--darkyellow);
        border-radius: 50%;
        position: absolute;
        display: inline-block;
        :hover {
            background-color: aqua;
        }
    }

    p {
        font-family: var(--font-proxima);
        font-weight: 400;
        font-size: rem(80);
        color: var(--dawnyellow);
    }
}
